<!-- This is the about page file -->
<div class="card card-body mu-3">
  <h3 class="mb-3">About</h3>
  <p class="mb-3">This is a web application developed by Alfaisal University students; Amjad Abujamous, Rawan Alabdulkarim, and Nora Alomair as a part of both a<a class="card-link" href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment/" target="_blank"> Nodejs Udemy course </a>and the Cloud Computing course in Alfaisal University - Software Engineering Department.</a></p>
  <p>It is about jotting down ideas on the web.</p>
  <img class="aboutLogo" src="/img/logo.png">
</div>
