<!-- This is the Home Page file -->
<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down ideas for your upcoming events!</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg mb-3">Add idea</a>
</div>
