<!-- This file is for adding an idea (body)-->
<div class="card card-body">
  <h3>Add Idea</h3>
  <form class="" action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-dark" name="button">Submit</button>
  </form>
</div>
